[user]
	email = 3188864257@qq.com
	name = betaqi
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	autocrlf = input
	excludesfile = /Users/taqibe/.gitignore_global
[https]
	proxy = http://127.0.0.1:6152
